@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@media only screen and (max-width: 767px) {

    .Navbar{
        height: 60px;
    }

    .nav-link {
        font-size: 18px;
        padding: 0 0 0 20px !important;
        margin: 0 0 20px 0 !important;
        font-family: 'Rubik', sans-serif;
        border-left: 5px solid #fff ;
    }

    .drawer-current-nav{
        color: #5b47fb;
        border-left: 5px solid #5b47fb !important;
        border-bottom: 0 !important;
    }

    .drawer-current-nav:hover{
        border-bottom: 0 !important;
    }

    .line-performance{
        height: 500px;
    }

    .dialog{
        width: 420px ;
    }
    
    .filter-open{
        top: 90vh;
    }


}

@media only screen and (min-width: 1400px) {

    .line-performance{
        height: 700px;
    }

    .rep-calendar p {
        padding: 15px 0px !important;
        border-radius: 50%;
    }

    /* .line-features{
        height: 1000px;
    } */

}


@media only screen and (min-height: 800px) {


    .filter-open{
        top: 92vh;
    }

}